/* Example Styles for React Tags */
div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}

div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
}

/* Styles for selected tags */
div.list_ReactTags__selected {
  float: left;
}

div.list_ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

div.list_ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 10;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
  padding: 0;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.active {
  background: #b7cfe0;
  cursor: pointer;
}


/* Custom */
.list_ReactTags__selected {
  width:100% !important;
}
.input-left {
  width:80%; float:left; border-radius: 2px 0 0 2px !important;
}
.btn-right {
  width:20%; float: right; border-radius: 0 2px 2px 0 !important;
}
.ReactTags__tag {
  margin-left:0 !important;
  margin-right:0 !important;
  margin-bottom:5px !important;
  width:100% !important;
}
.ReactTags__remove {
  float:right;
  color:#ff0000;
}
.list-latest-tfc{
  list-style: none;
  padding:0;
}
.list-latest-tfc li{
  padding: 5px 6px;
  border: 1px solid #000;
}
.list-latest-tfc li:hover{
  background-color: rgba(0, 0, 153, 0.25);
}
